.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > button{
    width: 300px;
    background-color: #2e81f4;
    color: white;
    font-weight: 800;
}

.login > button:hover{
    background-color: #e4e2e2;
    color: #2e81f4;
}

.login  h2{
    color: #2e81f4;
    margin-top: 8px;
    text-align: center;
}

.login > div > img{
    object-fit: contain;
    height: 150px;
}

.login > div{
    display: flex;
    flex-direction: column;
}